*{
    font-family: sans serif;
    padding: 0;
    margin: 0;
   
}


#main {
    display: flex;
    background-color:rgb(247,248,251)
    
    
    
}
#nav {
    
    color: #000000;
    height: 40px;
  padding-top: 20px;

    
   
}
.ri-phone-fill {
    font-size: 18px;
    margin-left: 100px;
    

}
p {
    font-size: 18px;
    display: inline;
   
    
}
#nav-right p{
    font-size: 18px;
   
}
.ri-mail-line{
    font-size: 18px;
    margin-left: 800px;

}
#nav-right{
    text-align: end;
    padding-top: 20px;
    
}
#nav-right-2{
    padding-top: 10px;
}
#nav-right-2 a{
    text-decoration: none;
    font-size:35px;
    margin-left: 15px;
   
    
    
}
a:visited {
    color: inherit;
}

.nav-2 li {
    margin-right: 65px; 
   display: inline-block;
    margin-left: 35px;
    font-size: 18px;
}
.nav-2 a{
    text-decoration: none;
    
}
.main-2{
    display: flex;
    padding-top: 13px;
    text-align: center;
    align-items: center;
}
 
.main-2 img{
    height: 63px;
    padding-left: 100px; 
}



/* Style the dropdown submenu */
.submenu {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #fff; 
    color: black;
     
    
}

.submenu li {
    display: block;
    width: 160px;
    height: 35px;
    padding-top: 20px;
    justify-content: center;
   
}
   /*important*/
.submenu li:hover{
    color: white;
    background-color:rgb(40,133,200);
    width: cover;
}

.submenu a {
    
    display: block;
    font-size: 12px;
}


.nav-2 li:hover .submenu {
    display: block;
   
}





.main-2 button{
    height: 40px;
    padding-top: 10px;
    text-decoration: none;
    border-radius: 5px;
    padding: 10PX;
   
    cursor: pointer;
    color: rgb(6,62,86) ;
    
}






.button1:hover{
    background-color:rgb(6,62,86);
    color: white;

}

#image{
    padding-top: 120px;
    background-color: rgb(6,62,86);
    position: relative;
   
}
#image p{
    padding-left: 100px;
    font-size: 18px;
    color: rgb(2,241,97);
    
    
}
#image p1,p2{
    font-size: 45px;
    margin: 100px;
    color: rgb(255, 255, 255);
    justify-content: center;
    
    
}
#image pre{
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding-left: 100px;  
    margin-top: 50px; 
    line-height: 1.8;
}

#image button{
    height: 60px;
    width: 180px;
    font-size: 19px;
    margin: 95px;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    color: white;
    
    background-color:rgb(11,135,211);
}
.ri-play-circle-line
{
   font-size: 40px;
    color: white;
    text-align: center;

}
#image p4{
    font-size: 22px;
    color: white;
    text-align: center;
    display: inline;
}

#image iframe{
   
    padding-left:45%;
    position: absolute;
    
    
    

}
.nav-one h4{
    font-size: 21px;
    color: white;
    background-color:rgb(5,62,86);
    margin-top: 0px;
    text-align: center;
    padding: 12px;

}
#nav-1
{
    font-size: 18px;
    margin-left: 100px;

}
#nav-right
{
    font-size: 18px;
    

}
#leftone h1{
    font-size: 45px;
    margin-left: 100px;
    padding-top:50px
}
#leftone pre{
    font-size: 18px;
   margin-left: 100px;
    margin-top:40px;
    line-height: 1.5;
}
#leftone h4{
    margin-left: 100px;
    margin-top: 25px;
}
.ri-computer-line{
    margin-left: 100px;
    font-size: 35px;
    text-align: center;
    align-items: center;
    
   
   
}
#leftone-1{
    margin-top: 20px; 
     display: flex;
     
 
    
}
#div-form{
   
    padding-top: 50px;
    padding-bottom: 50px;
    
    
}
#content-1{
    font-size: 40px;
    display: inline;
    margin-left: 160px;
    
    
}
#content-2{
    font-size: 18px;
    margin-left: 160px;
    line-height: 1.5px;
    
    
}
#form-1{
    font-size: 18px;
    margin-left: 160px;
    
    flex-direction: column;
    display: flex;
   
}
#form-1 li{
    list-style: none;
}

#name{
    height: 40px;
    width: 45%;
    
    
}

#email{
    height: 40px;
    width: 45%;
}
#phoneno{
    height: 40px;
    width: 45%;
}
#msg{
    height: 80px;
    width: 45%;
}
#su{
    height: 40px;
    width: 45%;
    background-color: rgb(11,135,211);
    color: white;
    font-size: 18px;
    border-radius: 5px;
    border-color: transparent;
}
#name::placeholder, #email::placeholder, #phoneno::placeholder, #msg::placeholder{
    padding: 11.5px;
}
#address-form{
    display: flex;
    position: relative;
    justify-content: flex-end;
    padding-right: 280px;
    padding-top: 0px;
    color: white;
    
    

}

#add{
    height: 480px;
    width: 424px;
    background-color:rgb(5,62,86);
    position: absolute;
    padding-top: 60px;
    text-align: center;
    
   
}
#add p{
   
    font-size: 25px;
}

#add pre{
   
    font-size: 18px;
     line-height: 1.5;
    
}
#add pre1{
    font-size: 18px;
}
.mapouter{position:relative;
    text-align:center;
   height:400px;}

.gmap_canvas {overflow:hidden;
        background:none!important;
        }
        
.gmap_iframe {width:90%!important;
    height:400px!important;}

#leftone-2 span{
    font-size: 13px;
    margin-left: 4px;
}
#leftone-2 p{
    font-size: 13px;
    margin-left: 4px;
   text-align: center;
   justify-content: center;
   align-items: center;
}
#leftone-3{
    display: flex;
}
#leftone-3 img{
    height: 35.2px;
    width: 35px;
    margin-left: 13px;
    
}
#main2{
    width: 600px;
    display: flex;
}
#leftone{
   
    width: 600px;
    display: flex;
    flex-direction: column;
}

#leftone-3 span{
    font-size: 13px;
    margin-left: 10px;
    margin-top: 5px;
}
#leftone-4{
    display: flex;
}

#leftone-4 img{
    height: 37.2px;
    width: 36px;
    margin-left: 25px;
    
}

#leftone-4 span{
    font-size: 13.5px;
    margin-top: 10px;
    margin-left: 10px;
}

#register-1{
    height: 20px;
    width: 60%;
    
}
#register-2 {
    display: flex;
}
#register-2 button{
    height: 61.6px;
    width: 531px;
    margin-left: 100px;
    color:rgb(242,242,242);
    background-color:rgb(31,177,67);
    font-size: 18px;
    border-radius: 5px;
    margin-top: 40px;
}

#down-div{
    background-color: rgb(6,62,85);
    padding-bottom: 80px;
}

#placement-div{
    width: cover;
    height: cover;
    display: flex;
    
}

#placement-bg{
    
    width: 76%;
    height: cover;
    color: white;
    padding-left: 100px;
    padding-top: 120px;
}
#placement-bg h1{
    font-size: 45px;
    padding-bottom: 30px;

}

#placement-div2 img{
    height: 344px;
    width: 344px;
    padding-right: 300px;
    padding-top: 50px;
    
  
   
}
#placement-bg pre{
    font-size: 20px;
    padding-bottom: 30px;
    line-height: 1.4;
   
}



#down-1{
    background-color:rgb(5,62,86);
    height: 40px;
    color: white;
    margin-top: 70px;
    font-size: 20px;
    
    padding-top: 15px;
    padding-left: 300px;
    display: flex;
   
    
}
#button-div button{
    color: white;
    background-color: rgb(31,177,67);
    height: 35px;
    width: 150px;
    border-radius: 5px;
    margin-left: 450px;
    align-items: center;
  
    
}
#buttton-div{
    padding-top: 20px;
    

}
#video-div{
    padding-left: 700px;
    position: absolute;
    padding-top: 100px;    
}

.active, .main-2 ul li :hover{
    
    text-decoration: solid;
    border-bottom: 3px solid rgb(40,133,200);
    width:cover;

}



#nav-right a{
    text-decoration: none;
    color: inherit;
 
}


/*student-div*/

#student-div{
    height: 700%;
    width: 100%;
    background-color: rgb(246,246,247);
    
    

}
#student-div-top{
    
  
    height:600px ;
    padding-top: 100px;
    
}
#student-div-top span{
    font-size: 35px;
    margin-left: 550px;
    margin-top: 100px;
    
        
}
#student-div-top pre{
    font-size: 18px;
    margin-left: 250px;
    margin-top: 20px;
    
}
#student-div-top2{
    height: 100px;
    width: 100px;
    display: flex;
    
}
#div-top h1{
    height: 346px;
    width: 324px;
    border: 2px solid black;
    font-size: 10px;
}


#div-top2 img{
    height: 364px;
    width: 324px;
    
    padding-top: 40px;
    position: absolute;
}
#div-top2{
    padding-left: 350px;
   
    
}
#div-top{
    display: flex;
}

/*course*/


.course-div2{
    height: 100%;
    width: 100%;
    color: white;
    background-color: rgb(7,59,80);
    text-align: center;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
   
}
.course-div2 span{
    font-size: 35px;
   
}

.course-div2 pre{
    font-size: 17px;
    padding-top: 10px;
}
#course-div{
    height: 100%;
    width: 100%;
    display: flex;
    border-radius: 10px;
}
.course-down-nav {
    border-radius: 10px;
    
}

.course-down-nav img{
     height: 852px;
     width: 524px;   
     display: inline; 
     padding-left: 90px;
     margin-top: 50px;
     border-radius: 10px;
     
}













